<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myuiapp.basic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.myuiapp.basic.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.myuiapp.basic.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        
        <activity
            android:name="com.myuiapp.basic.BioActivity"
            android:label="@string/title_activity_bio" >
        </activity>
        
        <activity
            android:name="com.myuiapp.basic.ShowActivity"
            android:label="@string/title_activity_show" >
        </activity>
        
        <activity
            android:name="com.myuiapp.basic.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    
    </application>

</manifest>